*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 2svh;
    border-bottom: 1px solid gray;
}

.container {
    padding-top: 5svh;
}

a {
    text-decoration: none;
    color: unset;
}

.product-name  {
    font-weight: bold;
}

.dropdown-menu {
    width: 300px;
    font-size: 0.75rem;
}

.deleteItem {
    background-color: transparent;
    border: none;
}

.dropdown-menu.show {
    display: flex;
    padding: 2vh;
    justify-content: space-between;
    flex-direction: column;
    top: 4svh;
    right: 1svw;
}

.basketItem {
    display: flex;
    justify-content: space-between;
}

.cart-total {
    font-weight: bold;
}

.products-row {
    padding-bottom: 3svh
}

.btn, .btn:hover, .btn:active {
    background-color: #5d3b4d !important;
    border: none;
    color: white !important
}

.basket {
    align-self: flex-end;
}

.buttons button {
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
}

.breadcrumb-and-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.other-navitems {
    display: flex;
}

.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: space-between;
}

.navbar-right {
    display: flex;
}

.user, .favs {
    padding-left: 1svh;
}

.buttons {
    float: right;
}

.filters ul{
    list-style: none;
    padding: 0;
}

.sticky {
    position: sticky;
    top: 0;
}

.navbar {
    background-color: #5d3b4d;
    /* yazıların rengini bs override ediyor */
}

.nav-link {
    font-size: 1.25rem;
}

.navbar-right div{
    padding-left: 2svh;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.breadcrumb {
    display: flex;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.fav {
    position: absolute;
    top: 0;
    right: 0;
}

.image-container:hover {
    transition: none;
}

.MultiCarousel {
    float: left; 
    overflow: hidden; 
    padding: 15px; 
    width: 100%; 
    position: relative; 
}
.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all; 
    float: left; 
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item > div {
    text-align: center; 
    padding:10px; 
    margin:10px; 
    background:#f1f1f1; 
    color:#666;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position:absolute; 
    border-radius:50%;
    top:calc(50% - 20px);
    width: 35px;
}

.MultiCarousel .leftLst {
    left:0; 
}

.MultiCarousel .rightLst { 
    right:0; 
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
    pointer-events: none; 
    background:#ccc; 
}

.leftLst, .rightLst, .leftLst:hover, .rightLst:hover {
    background-color:rgba(125, 1, 125, 0.715);
    border: none;
}

.popular-brands {
    margin: 0 auto;
    height: 300px;
}

.dropdown-menu.removeItem {
    pointer-events: none !important;
}

.footer {
    background-color: rgba(192, 193,191, 0.2);
}